html{
    background-color: #2f81ed5b;
  }
    img {
      border-radius: 50%;
      height: 250px;
      width: 280px;
      justify-content: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .y{
      text-decoration: none;
      color:white;
  
  
    }
    .z{
      text-decoration: none;
      color:white;
  
  
    }
    .a{
      text-decoration: none;
      color:white;
  
  
    }
  
    /* .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    } */
  
    .Amitzz{
      font-size: 20px;
      text-align: center;
      justify-content: center;
    }
  
    .ami{
      text-align: center;
      justify-content: center;
    }
  
    .Button {
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: black;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px gray;
      justify-content: center;
    }
    
    .Button:hover {background-color: lightcoral;}
    
    .Button:active {
      background-color: lightcoral;
      box-shadow: 0 5px gray;
      transform: translateY(4px);
      justify-content:center;
  }